__pycache__/
*.pyc
_out.py
_out2.py
*.db
*.zip
*.pyz
sonpsir
распаковано/
приложение_android/
css/
js/
core/
stdlib/
examples/
программа.sps
sonpsir_old.py
index.html
друзья.db
мессенджер.db
чат.db
пример.zip
